[Desktop Entry]
Name=jzedit
Comment=Run the editor
Exec=bash -c '_PWD="$PWD"; cd "`echo $0 | sed s/jzedit.desktop$//`"; ./start.sh run; cd "_PWD"' %k
Icon=/home/Z/Projects/jzedit/client/gfx/jz64.png
Terminal=false
Type=Application
