
# Redirect to https:
#SSL#server {
  #SSL#listen 80;
  #SSL#listen [::]:80;
  #SSL#server_name %USERNAME%.%DOMAIN%;
  #SSL#return 301 https://%USERNAME%.%DOMAIN%$request_uri;
#SSL#}

server {
  listen 80;#NOSSL#
  listen [::]:80;#NOSSL#
  #SSL#listen 443 ssl;
  #SSL#listen [::]:443 ssl;
  server_name %USERNAME%.%DOMAIN%;
  root %HOMEDIR%wwwpub/;
  index index.html index.htm;

  #SSL#ssl_certificate      /etc/letsencrypt/live/%USERNAME%.webide.se/fullchain.pem;
  #SSL#ssl_certificate_key  /etc/letsencrypt/live/%USERNAME%.webide.se/privkey.pem;

  access_log %HOMEDIR%log/access.log combined;

  location / {
    charset	utf-8;
    try_files $uri $uri/ =404;
  }
  
  #location ~/_http(\d+) {
  #  proxy_set_header  host       $http_host;
  #  proxy_set_header  x-real-ip  $remote_addr;
  #  proxy_pass http://unix:%HOMEDIR%sock/_http$1;
  #  add_header 'Access-Control-Allow-Origin' '*';
  #}

  location ~/_([^/]+) {
    # Anything starting with an underscore
    # Upgrade to websocket (if possible)
    proxy_pass http://unix:%HOMEDIR%sock/_$1;
    proxy_http_version 1.1;
    proxy_set_header host       $http_host;
    proxy_set_header x-real-ip  $remote_addr;
    proxy_set_header upgrade    $http_upgrade;
    proxy_set_header connection "upgrade";

    #add_header 'Access-Control-Allow-Origin' '*';
  }

}
