# How to install:
# 1. Make sure nginx is installed: apt-get install nginx
# 2. mv etc/webide.se.nginx etc/editor.yourdomain.com.nginx
# 3. Change server_name, ssl_certificate, ssl_certificate_key and replace webide.se to editor.yourdomain.com
# 4. sudo cp etc/nginx/editor.yourdomain.com.nginx /etc/nginx/sites-available/editor.yourdomain.com.nginx
# 5. sudo ln -s /etc/nginx/sites-available/editor.yourdomain.com.nginx  /etc/nginx/sites-enabled/editor.yourdomain.com
# or sudo ln -s $(pwd)/editor.yourdomain.com.nginx /etc/nginx/sites-enabled/editor.yourdomain.com
# 6. service nginx reload
#


# Redirect to https:
server {
  listen 80;
  listen [::]:80;
  server_name webide.se www.webide.se webeditor.se www.webeditor.se;
  return 301 https://webide.se$request_uri;
}

server {

  listen 443 ssl http2;

  #listen [::]:443 http2 ipv6only=on ssl;
  listen [::]:443 http2 ssl;
  # Remove "ipv6only=on" if you have more then one site on ipv6   

  server_name webide.se;
  charset utf-8;

  # todo: let certbot handle the certificate
  ssl_certificate      /etc/ssl/certs/letsencrypt/webide.se.crt;
  ssl_certificate_key  /etc/ssl/private/webide.se.key;

  gzip on;
  gzip_types text/plain text/javascript application/json;

  # Serve the bundle on request's to / (root)
  location = / {
    gzip_static on;
    alias /srv/jzedit/client/;
    try_files bundle.htm =404;
    expires 12h;
  }

  location / {

    # Allow cross domain requests (always adds the header to all, even 400 errors!)
    # Using always will create doublicates in 4xx errors
    # So for 4xx errors, 5xx, and others, Access-Control-Allow-Origin * will have to be added manually
    add_header Access-Control-Allow-Origin *;
    
    # Allow the browser to read the Content-Length header
    add_header Access-Control-Expose-Headers "Content-Length";
  
    
    # Dont cache!
    expires 0;
    
    # Can not set proxy header inside if-statement
    proxy_set_header        host              $http_host;
    proxy_set_header        x-real-ip         $remote_addr;
    proxy_set_header        x-forwarded-proto $scheme;
    proxy_pass http://127.0.0.1:8099;
    
  }
  

  # These files are unlikely to change, so set a high expire date
  location ~* \.(jpg|jpeg|png|gif|ico|ttf|svg)$ {
    expires 30d;
  }

  # These files does not change that often, so make them cache-able
  location ~* \.(css|htm|html)$ {
    expires 3d;
  }

  location @badgateway {
    add_header Access-Control-Allow-Origin * always;
    default_type text/plain;
    return 502 "Editor not online ... Wait a few seconds and then refresh the browser.\n";
  }
  
  error_page 502 @badgateway;
  
  
  location /jzedit {
    # Upgrade to websocket
    
    proxy_pass http://127.0.0.1:8099;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    
    # SockJS already adds a Access-Control-Allow-Origin header. Adding two of them will cause the browser to fail loading the page!
    #add_header 'Access-Control-Allow-Origin' '*';
   
    # So that we will know the user IP
    proxy_set_header x-real-ip $remote_addr;
  }
  
  location /nginx_status {
    # Show whole server stats
    # server accepts handled requests, x, y, z:
    # x = Accepted connections
    # y = Handled connections
    # z = Handles requests

    stub_status on;
    access_log   off;
    # only allow access from 127.0.01 #
    #allow 127.0.01;
    #deny all;
  }


  # x11vnc crashes when receiving a websocket over https (SSL/TSL), so we have to proxy over http 
  location ~/_vnc(\d*) {
    # Upgrade to websocket
    
    proxy_pass http://127.0.0.1:$1;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    
    #add_header 'Access-Control-Allow-Origin' '*';
  }



  # Lets encrypt challange (optional)
  location /.well-known/acme-challenge/ {
    # Omitting the / in proxy_pass will make nginx pass on the url
    # Pass the request on to the server that handles the lets-encrypt certificates
    proxy_pass http://zetafiles.org;
    proxy_set_header host $http_host;
    proxy_set_header x-host $http_host;
    proxy_set_header x-real-ip $remote_addr;
  }


}
