# How to install:
# 1. Make sure nginx is installed: apt-get install nginx
# 2. mv etc/webide.se.nginx etc/editor.yourdomain.com.nginx
# 3. Change server_name, ssl_certificate, ssl_certificate_key and replace webide.se to editor.yourdomain.com
# 4. sudo cp etc/nginx/editor.yourdomain.com.nginx /etc/nginx/sites-available/editor.yourdomain.com.nginx
# 5. sudo ln -s /etc/nginx/sites-available/editor.yourdomain.com.nginx  /etc/nginx/sites-enabled/editor.yourdomain.com
# or sudo ln -s $(pwd)/editor.yourdomain.com.nginx /etc/nginx/sites-enabled/editor.yourdomain.com
# 6. service nginx reload
#

server {
  listen 80;
  server_name webide.se;
  charset utf-8;
  
  # Ucomment to enable SSL:
  #listen 443 ssl;
  #ssl_certificate      /etc/ssl/certs/letsencrypt/webide.se.crt;
  #ssl_certificate_key  /etc/ssl/private/webide.se.key;
 
  # Uncomment the line below to Enable IPv6
  #listen [::]:80 ipv6only=on;\

  location / {
    
    # Allow cross domain requests (always adds the header to all, even 400 errors!)
    # Using always will create doublicates in 4xx errors
    # So for 4xx errors, 5xx, and others, Access-Control-Allow-Origin * will have to be added manually
    add_header Access-Control-Allow-Origin *;
    
    # Allow the browser to read the Content-Length header
    add_header Access-Control-Expose-Headers "Content-Length";
  
    
    # Dont cache!
    expires 0;
    
    # Can not set proxy header inside if-statement
    proxy_set_header        Host            $http_host;
    proxy_set_header        X-Real-IP       $remote_addr;
    
    proxy_pass http://127.0.0.1:8099;
    
  }
  
  location @badgateway {
    add_header Access-Control-Allow-Origin * always;
    default_type text/plain;
    return 502 "Editor not online ... Dispatching code monkeys ...\n";
  }
  
  error_page 502 @badgateway;
  
  
  location /jzedit {
    # Upgrade to websocket
    
    proxy_pass http://127.0.0.1:8099;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    
    add_header 'Access-Control-Allow-Origin' '*';
  }
  

  # Lets encrypt challange (optional)
  location /.well-known/acme-challenge/ {
    # Omitting the / in proxy_pass will make nginx pass on the url
    # Pass the request on to the server that handles the lets-encrypt certificates
    proxy_pass http://zetafiles.org;
    proxy_set_header Host $http_host;
    proxy_set_header X-Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
  }


}
