/*
	
	This file contains all styling outside the canvas. 
	For example the positioning of the head, footer, right column, left column and the main editor area.
	
	
	
	Designing tips
	--------------
	The coding area should be the "happy place" (most colorful and most contrast)
	
	Press F6 to reload CSS while working on the editior
	
	Do Not use platform/theme default colors! (eg. color: Menu) Or we'll end up with white text on white background (OS X) 
	
*/



/* 
	To be on the safe side. All element, unless specified, should have no border boxing ...
	Do it here so that we do not have to specify it on everything.
*/
* {
	padding: 0px;
	margin: 0px;
	border: 0;
	/*-webkit-font-smoothing: none;*/
	/*border: 1px solid pink;*/
	
	/*
	-webkit-font-smoothing: none;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	// -webkit-text-stroke: 0.015em;
	text-rendering: auto;
	text-rendering: optimizeSpeed;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	*/
}

html {
	height: 100%; /* We need height 100% here for height 100% to work in child elements */
	}

body {
	margin: 0px;
	background-color: #edeff3; /* same color as canvas artifact. Only visible if something is not 100% height */
	height: 100%; /* We need height 100% here for height 100% to work in child elements */
	font-family: Arial;
	-webkit-transform: scale(1.00); /* Prevents the browser from "accidently" zooming out when switching orientation */
}


/* prevent menu from making the page higher - screwing up layout 
	#canvasContextmenu {
	overflow: scroll;
}
*/


/* ############### Virtual Keyboard ############### */

.virtualKeyboard {
	border-top: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	border-top-left-radius: 6px;
	z-index: 10;
	position: absolute;
	/*bottom: -100px;
	right: 0px;*/
	top: -100px;
	left: 1px;
	text-align: right;
	background-color: rgba(200,200,200, .5);
	user-select: none;
	}

.virtualKeyboard .virtualKeyboardGroup {
	vertical-align: top;
	}

.virtualKeyboard .virtualKeyboardRow {
	border: 0px solid orange;
	height: 20px;
	width: 100%;
	margin: 0;
	padding: 0;
	margin: 1px;
	user-select: none;
	display: table-row;
}

.virtualKeyboard button {
	font-family: Monospace;
	font-size: 12px;
	background-color: rgba(255,255,255, .9);
	border: 1px outset #f0f0f0;
	border-radius: 3px;
	min-width: 17px;
	min-height: 18px;
	margin: 1px;
	padding: 0px;
	outline-color: transparent;
	text-align: center;
	vertical-align: top;
	/*transition: all ease 0.1s;*/
	box-shadow: 0px 2px 0px rgba(180, 180, 180, .9);
	user-select: none;
}

/* Don't style the active, because sometimes the button can be active, but not register a click! */
.virtualKeyboard button:active {
}

.virtualKeyboard button:hover {
	border: 1px outset orange;
}

.virtualKeyboard button.on {
	background-color: yellow;
}

.virtualKeyboard button.special {
	outline-color: #cccccc;
}

/* ############### DASHBOARD ############# */

.dashboard {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	background-color: #e9e9e9;
	text-shadow: none;
	z-index: 100;
}

.dashboard span {
	color: #a8a8a8;
	text-shadow: none;
	font-family: Arial, Helvetica, sans-serif;
}

.dashboardWidget {
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
	margin: 0.5em;
	padding: 0.5em;
	color: #a8a8a8;
	text-shadow: none;
	}

.dashboardWidget span.value {
	font-family: Arial, Helvetica, sans-serif;
	color: #989898;
	font-size: 1.1em;
	font-weight: 600;
	}

.dashboardWidget .description {
	text-transform: uppercase;
	color: #a8a8a8;
	font-size: 0.75em;
}

.dashboardWidget hr {
	border-bottom: 1px solid #e6e6e6;
	}

.dashboardWidget div.total {
	margin-top: 0.2em;
	font-size: 6.5em;
	color: #353535;
	text-shadow: -1px 0 #585858, 0 1px #585858, 1px 0 #585858, 0 -1px #585858;
}

.dashboardWidget div.previous {
	font-size: 1.5em;
	}


.dashboardWidget span.posetive {
	color: #709933;
}

.dashboard .pageViewStat {
	font-size: 1em;
}

.dashboardWidget.newfile {
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #e5e5e5;
}

.dashboardWidget.newfile span {
	margin-right: 1em;
	vertical-align: middle;
	}

.dashboardWidget.newfile button {
	margin: 0;
	padding: 0.5em;
	height: 3em;
	min-width: 9em;
	font-weight: 600;
	color: #797979;
	text-transform: uppercase;
	border-left: 1px solid #e5e5e5;
	background-color: white;
	background: linear-gradient(top, #eeeeee 0%, #ffffff 100%);
	vertical-align: middle;
	text-decoration: underline;
	}

.dashboardWidget.newfile button img {
	vertical-align: middle;
	margin-right: 4px;
	}



/* ############################ */


canvas {
	text-rendering: optimizeLegibility;
	font-kerning : normal;
}

.wireframe {
	user-select: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
}


/* Only the file canvas should have the fileCanvas class! */
.fileCanvas { /* CAN NOT HAVE BORDER, PADDING or MARGIN */
	cursor: text;
}


.columns {
	/* background-color: yellow; */
	}

.columns div {
	/*border: 1px solid red; */
	background: linear-gradient(to right, #edf0f3, #e8e8e8, #e8e9e9);
	background-color: blue;
	}

.leftColumn {
	/* Can not have height. With is set by JavaScript in editor.js editor.resize() */
	float: left;
	vertical-align: top;
	background-color: blue;
	padding: 0px;
	margin: 0px;
	border: 0px solid blue;
}

.centerColumn { /* CAN NOT HAVE BORDER, PADDING or MARGIN */
	overflow:hidden;
	background-color: red; /* background will only show when there is little text, or flash a little when reloading the page */
	vertical-align: top;
	float: left;
	overflow: auto!important;
}

.rightColumn {
	/* Can not have height. With is set by JavaScript in editor.js editor.resize() */
	float: right;
	border: 0px solid red;
	background-color: orange;
	vertical-align: top;
}


.header {
	/* Needs to have height!? */
	
	background: linear-gradient(to right, #edf0f3, #e8e8e8, #e8e9e9);
	
	}

.footer {
	/* Needs to have height! */
	clear: both;
	background: linear-gradient(#595959, #555555);
	box-shadow: inset 0px 4px 10px #888888;
	
	
	border-top: 2px solid #767676;
	
	padding-bottom: 6px;
	padding-left: 4px;
	padding-right: 4px;
	
}
.footer:empty { 
	border: none; /* Hide the border if the footer is empty */
	padding: 0px;
}

.sizer {
	background-color: #682c35;
}

/* Add the wrap class to widgets living in the left or right column! */
.wrap {
	overflow: auto!important;
	overflow-y: scroll!important; /* So that you never need the x-scroll */
	white-space: nowrap;
}


/* ###### Standard settings ####### (Place high so they can be over-written by custom styling)*/

span.nobreak {
	
}

.footer table {
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: separate;
	/*margin-bottom: -2px;  adjust so the top/bottom margin will be the same like wihout a table */
	/*margin-top: -2px; */
	
}

.footer td {
	padding: 2px;
	margin: 0px;
}


.footer table.data {
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	width: 100%;
}

div.tableHolder {
	background-color: #f6f6f6;
	margin-top: 2px;
}

.footer table.data tr {
	background-color: #f6f6f6;
	color: black;
	border-bottom: 1px solid #bcbcbc;
}

.footer table.data tr:nth-child(even) {background: #f6f6f6;}
.footer table.data tr:nth-child(odd) {background: #ffffff;}

.footer table.data tr.selected {
	background-color: #b6d1fd;
}

.footer table.data th {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #bcbcbc;
	color: #f6f6f3;
	background-color: #414141;
	background: linear-gradient(#545657, #434343, #454545);
	text-shadow: 0px -1px 0px #1f2020;
	padding: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.footer table.data td {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #cccccc;
	}

.footer table.data td.text {
	line-height: 28px;
	max-width: 500px;
}



.footer table.data select {
	background-color: transparent;
	min-width: 100%;
	max-width: 150px;
	}

.footer table.data span {
color: black;
	text-shadow: none;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

ul {
	margin-top: 2px;
}

li ul {
	margin-left: 1em;
}

label, span, p {
	color: #f6f6f3;
	text-shadow: 0px -1px 0px #1f2020;
	font-weight: normal;
	font-family: caption;
	}

a.signup {
	padding: 3px;
	border-radius: 3px;
	border: 1px solid blue;
	color: blue;
	background-color: white;
	text-shadow: none;
	font-weight: normal;
	text-decoration: underline;
margin-left: 1em;
}

input[type=text], input[type=password], select.select {
	border-radius: 2px;
	border: 1px inset #4a4a4a;
	font-size: 16px;
	background-color: #e6e6e6;
	box-shadow: 0px 1px 1px #b3b3b3, inset 0px 1px 1px #333333;
	padding: 3px;
	margin: 4px;
	}

input[type=checkbox] {
	text-align: absmiddle;
}

.button.active {
	font-weight: bold;
	}


input[type=button], button.button, input[type=submit] {
	border-radius: 3px;
	border: 1px solid rgba(19, 19, 19, 0.5);
	box-shadow: 0px 2px 5px #505050, inset 0px 1px 1px #888888;
	color: #f6f6f3;
	min-width: 120px;
	background-color: #414141;
	background: linear-gradient(#545657, #434343, #454545);
	cursor: default;
	text-shadow: 0px -1px 0px #1f2020;
	padding: 4px;
	margin: 4px;
	font-size: 13px;
}

input[type=button].half {
	min-width: 55px;
}

.highlighted {
	background-color: orange!important;
	background: linear-gradient(#ffbf00, #a67b00, #bf9a30)!important;
	border: 1px solid #ffbf00!important;
	box-shadow: 0px 2px 5px #3d3324, inset 0px 1px 1px #f0ce5b!important;
}

input[type=text].error {
	background-color: #f88a99;
}

td input[type=text] {
	max-width: calc(100% - 16px);
}


/* ############### File Tabs ############## */


ul#tabList {
	margin: 0;
	padding: 0;
	padding-left: 3px;
	
	white-space:nowrap; /* Prevent tabs fallingn down*/
	display: flex;
	align-items: stretch; /* Default */
}

ul#tabList li.tabFolderItem {
	border-radius: 10px 10px 0px 0px;
	
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	
	/*max-height: 35px;*/
	/*-webkit-transform: perspective(100px) rotateX(30deg); */
	
	
	font-size: 10px;
	text-align: center;
	line-height: 1px;
	
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 2px;
	
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
	
	color: #585565;
	display: inline-block;
	list-style-type : none;
	line-height: 6px;
	box-shadow: 0px 1px 2px #dcdae3, inset 0px 1px 1px #ecebf0;
	background: linear-gradient(#f2f2f2, #f6f6f6);
	cursor: default;
	
}


ul#tabList li.tabFolderItem.active {
	color: #000000;
	border-bottom: 1px solid #ffffff; /* same color as canvas */
	background: linear-gradient(#d7dde6 10%, #f6f6f6 60%, #ffffff);
	z-index: 2;
	}


ul#tabList ul.folderFileList {
	
	max-height: 27px;
	overflow: visible;
	
	display: flex;
	}

ul#tabList li ul {
	margin: 0;
	padding: 0;
}


/* ### File Item */
ul#tabList li.tabFileItem {
	display: inline-block;
	list-style-type : none;
	
	
	border-top-right-radius: 25px 170px;
	border-top-left-radius: 20px 90px;
	
	margin-top: 4px;
	margin-right: -15px;
	margin-bottom: 0px;
	margin-left: -7px;
	
	padding-top: 4px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 30px;
	
	font-size: 12px;
	cursor: pointer;
	
	background: linear-gradient(#f2f2f2, #ffffff);
	box-shadow: 0 10px 20px rgba(0,0,0,.5);
	
	height: 170px; /* sets the curve */
	position : relative;
	line-height: 14px;
	max-width : 200px;
}

ul#tabList li.tabFileItem.active {
	z-index: 3;
	background: #ffffff;
	
}

/* Chrome like tabs: http://codepen.io/jcblw/pen/DxAJF */
ul#tabList > li.tabFileItem:before, ul#tabList > li.tabFileItem:after {
	content : '';
	background : transparent;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	border-width: 10px;
	top: 0px;
	border-style : solid;
	position : absolute;
	}
ul#tabList li.tabFileItem:before {
	border-color : transparent #ddd transparent transparent;
	-webkit-transform : rotate(48deg);
	left: -23px;
	}
ul#tabList li.tabFileItem:after {
	border-color : transparent transparent transparent #ddd;
	-webkit-transform : rotate(-48deg);
	right: -17px;
}
ul#tabList > li.tabFileItem.active:before {
border-color : transparent #efefef transparent transparent;
}

ul.tabs > li.tabFileItem.active:after {
border-color : transparent transparent transparent #efefef;
}


ul#tabList li.tabFileItem a {
	border-bottom: 2px solid transparent;
	}

ul#tabList li.tabFileItem.active a {
	padding-bottom: 1px;
	border-bottom: 1px solid orange;
}

/* Folder item with only one file in it */
ul#tabList li.tabFolderItem.single {
	/* Hide the folder text */
	font-size: 0px;
	line-height: 0px;
	
	/* Complement for the lost height */
	padding-top: 10px;
	box-shadow: none;
}
/* Single file in folder list */
ul#tabList li.tabFolderItem.single li.tabFileItem {
	border: 0;
	box-shadow: none;
	background: none;
	}
ul#tabList li.tabFolderItem.single li.tabFileItem.active {
	border: 0;
	}


/* ### Close tab button */
ul#tabList button.closeFileTab {
	color: #85919e;
	
	display: none;
	font-size: 16px;
	line-hieght: 10px;
	font-weight: bold;
	vertical-align: text-top;
	margin-left: -15px;
	margin-right: 3px;
	border-radius: 2px;
	width: 12px;
	height: 15px;
	background-color: rgba(0,0,0,0);
}

ul#tabList button.closeFileTab:hover {
	background-color: #d34444;
	color: #fdf7f7;
}

ul#tabList li.tabFileItem.active button.closeFileTab {
	display: inline-block;
}














/* ###### Document Preview ####### */
.documentPreviewDiv {
	border: 0px solid blue;
	margin: 0px;
	
}

.documentPreviewCanvas {
	
}







/* ############### Function List ############### */

select.functionList {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: black;
	outline: 0;
	width: 100%;
	padding-right: 21px; /* Just in case there is a scrollbar, so that the scrollbar doesnt hide the text */
	overflow-x: hidden!important;
}






/* ############### Search box ############### */





/* ############### File List ############### */
div.fileList {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: black;
	background-color: blue;
	border: 2px solid red;
}



/* ########### gotoFIle ################## */
div.gotoFile {
	color: #f6f6f3;
	/*text-shadow: 0px -1px 0px #1f2020;*/
	margin-top: 4px;
	}

div.gotoFile li {
	font-size: 13px;
	padding: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #2b2c27;
	color: #838383;
	
	background-color: #f6f6f6;
	color: black;
	
	font-family: menu;
	
	/*border-top: 1px solid #32342e;
	border-bottom: 1px solid #151513;*/
}

div.gotoFile li.selected {
	background-color: #3c3f37;
	
	background-color: #b5d4ff;
	color: #b5d4ffText;
	
}

div.gotoFile li b {
	color: black;
	}

div.gotoFile li:hover {
	background-color: #b5d4ff;
	color: black;
	cursor: pointer;
}

.blink {
	-webkit-animation-name: blinker; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	-webkit-animation-timing-function: steps;
	-webkit-animation-iteration-count: infinite;
	
}


@-webkit-keyframes blinker {
	
	from {
		
		color: yellow;
	}
	to {
		
		color: red;
		
	}
}




/*
	We CAN NOT have margin, padding or border on the .centerDiv or .fileCanvas !!!
	It kinda works with box-sizing: border-box; But then the text get screwed.
	
	It's however OK to have it on the surrounding boxes.
*/
.centerDiv, .fileCanvas {
	margin: 0px!important; 
	padding: 0px!important; 
	border: 0px solid black!important; 
}



/*
	Having overflow on any element will totally screw out the layout!
*/
* {
	overflow: hidden;
}


/* Add this class to elements that should not be selectable (text) */
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}






/* ### Stying for the context menus */

.menu {
	display: block;
	visibility: hidden;
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 10;
	background-color: rgba(217, 227, 250, 0.75);
	border: 1px solid;
	border-color: #777 #6c6c6c #666;
	border-radius: 3px;
	/*
		-webkit-transition: 0.2s ease-out;
		-moz-transition: 0.2s ease-out;
		-o-transition: 0.2s ease-out;
		transition: 0.2s ease-out;
		-webkit-transition-property: opacity, padding, visibility;
		-moz-transition-property: opacity, padding, visibility;
		-o-transition-property: opacity, padding, visibility;
		transition-property: opacity, padding, visibility;
	*/
	
	background-image: linear-gradient(to bottom, #eef3fe, #d9e3fa);
	background-image: linear-gradient(to bottom, #eef3fe, #d9e3fa);
	
	box-shadow: 0 1px 10px ThreeDShadow;
	max-width: 90%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	
	}

.menu li {
	background-color: #f6f6f6;
	/*text-shadow: 0 1px white;*/
	cursor: default;
	display: block;
	position: relative;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 5px;
	text-decoration: none;
	border: 1px solid transparent;
	}

.menu li.sep {
	margin-top: 4px;
	padding-top: 4px;
	border-top: 1px solid #b4bbce;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
}

.menu li:hover {
	color: white;
	color: black;
	/*text-shadow: 0 1px rgba(0, 0, 0, 0.3);*/
	background: #5a70b0;
	background-color: #b5d4ff;
	border-color: #5a70b0 #495d98 #42558a;
	/* background-image: linear-gradient(to bottom, #7688bd, #4e64a3); */
}

.menu li .bullet {
	display: inline-block;
	vertical-align: middle;
	color: #45b73b;
	font-weight: bold;
	text-shadow: 0px 0px 0px black;
	font-size: 13px;
	width: 15px;
	text-align: center;
	font-size: 20px;
	line-height: 13px;
}

.menu li .bullet.inactive:before {
	content:"\2003";
	
	}

.menu li .bullet.active:before {
	content:"\2022";
	}

.menu li .text {
	font-family: menu, 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-weight: normal;
	text-shadow: none;
	font-size: 13px;
	color: #838ca2;
	color: #313a4f;
	color: black;
}

.menu li .key {
	display:inline-block;
	color: #919191;
	font-size: 9px;
	text-shadow: none;
	vertical-align: middle;
	margin-left: 4px;
	float: right;
	right: 0px;
	margin-top: 4px;
	}

.menu li:hover .key {
	color: #1460AA;
	}




/* ### Dialogs */
.dialog {
	z-index: 100;
	text-align: center;
	font-family: Verdana;
	background-color: #ededf1;
	background: linear-gradient(#595959, #555555);
	border-top: 2px solid #767676;
	box-shadow: inset 0px 4px 10px #888888;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 7px;
	border: 16px solid #3a3b44;
	box-shadow: 0px 4px 20px #000000;
	color: #1f2122;
	background-image: linear-gradient(to bottom, #dde1e9 0%, #fafafa 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
	max-width: 408px;
	word-wrap: break-word;
}

.dialog .message {
	min-width: 360px;
	min-height: 32px;
	max-height: 400px;
	font-family: Segoe UI, sans-serif;
	font-size: 15px;
	text-align: left;
	padding: 20px;
}

.dialog img {
	float: left;
	margin: 10px;
	}

.dialog button {
	border-radius: 3px;
	border: 1px solid rgba(19, 19, 19, 0.5);
	box-shadow: 0px 2px 5px #505050, inset 0px 1px 1px #888888;
	color: #f6f6f3;
	min-width: 90px;
	background-color: #414141;
	background: linear-gradient(#545657, #434343, #454545);
	cursor: default;
	text-shadow: 0px -1px 0px #1f2020;
	padding: 4px;
	margin: 4px;
	font-size: 12px;
}

.dialog button.alert {
	float: right;
}

.dialog button.confirm {
	min-width: 45%;
	}

.dialog button.prompt {
	float: right;
}

.dialog .input {
	width: 90%;
	border-radius: 2px;
	border: 1px inset #4a4a4a;
	background-color: #e6e6e6;
	box-shadow: 0px 1px 1px #b3b3b3, inset 0px 1px 1px #333333;
	padding: 3px;
	margin-bottom: 10px;
	font-size: 15px;
	font-family: Verdana;
}


/* ############### Mercurial plugin widgets ############### */
.repoCommit select {
	overflow-y: scroll;
}

.repoCommit select, .repoCommit textarea {
	padding-left: 2px;
	height: 7em;
}

ul.resolveList li {
	margin: 0.5em;
	border: 1px solid blue;
	border-radius: 3px;
}



/* ############### File explorer ############### */

	.fileExplorer {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	box-sizing: border-box;
	border-left: 2px solid #e8e8e8;
	/* Can not have padding, or the canvas will fall down */
	}
.fileExplorer ul {
	background-color: #fff; /* #e8e8e8 */
	color: black;
}
.fileExplorer li {
	cursor: default;
	margin-top: 4px;
	margin-bottom: 4px;
	}

.fileExplorer li.folder {
	}

.fileExplorer li.file {
	}

.fileExplorer li.problem {
	color: brown;
}

.fileExplorer ul.fileContextMenu {
	}


.fileExplorer li img {
	vertical-align: middle;
	margin-right: 4px;
}

.fileExplorer li.file img {
	margin-left: 13px;
}

.fileExplorer li a:hover {
	text-decoration: underline;
}

.fileExplorer .box {
	font-family: Verdana, Geneva, sans-serif, monospace;
	font-size: 12px;
	display: inline-block;
	border: 0px solid black;
	width: 12px;
	height: 12px;
	
	text-align: center;
	vertical-align: middle;
	margin-right: 2px;
	margin-bottom: 2px;
	outline: 0;
	color: #6e6e6e;
}

.fileExplorer select {
	width: 100%;
}


/* ###### Tree list */
.tree, .tree ul {
	position:relative;
	padding:0;
	margin: 0;
}
.tree ul {
	margin-left: 10px; /* indentation */ 
	list-style:none;
	}

.tree ul {margin-left:5px} /* (indentation/2) */

.tree:before,
.tree ul:before {
	content:"";
	display:block;
	width:0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	/*border-left:1px dotted #999999;*/
}

.tree li {
	margin:0;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 12px; /* indentation + .5em */
	line-height:14px; /* default list item's `line-height` */
	position:relative;
}

.tree li:before {
	content:"";
	display:block;
	width: 10px; /* same as indentation */
	height:0;
	/*border-top:1px dotted #999999;*/
	margin-top: 0px; /* border top width */
	position:absolute;
	top:7px; /* (line-height/2) */
	left:0;
}

.tree li:last-child:before {
	background:white; /* same with body background */
	height:auto;
	top: 7px; /* (line-height/2) */
	bottom:0;
}


noscript div {
	font-size: 2em;
	margin: 2em;
	padding: 1em;
	background: yellow;
	border: 5px dotted black;
	}
noscript div p {
	font-family: Arial, Helvetica, sans-serif;
	color: #222222;
	text-shadow: none;
	margin: .5em;
}

p.noscript {
	font-family: Arial, Helvetica, sans-serif;
	color: #222222;
	text-shadow: none;
	margin: .5em;
}


.progress {
width: 100%;
	height: 5px;
}




@keyframes flash
{
	0%{transform: scale( 1 );}
	25%{transform: scale( 0.95 );}
	50%{transform: scale( 1.07 );}
	75%{transform: scale( 0.95 );}
	100%{transform: scale( 1 );}
	}

.flash
{
	animation: flash 1s infinite;
}


/*
* {
	 So that we only have to do this once 
	padding: 0px!important;
	margin: 0px!important;
	border: 0px solid #ff8059!important;
	border-spacing: 0px!important;
	overflow: auto!important;
}

*/



/*
	https://www.emailonacid.com/blog/article/email-development/emailology_media_queries_demystified_min-width_and_max-width
	
	min-width:  greater than or equal to
	max-width:  less than or equal to
	
*/


@media print {
	
	.leftColumn {display: none;}
	.rightColumn {display: none;}
	.header {display: none;}
	.footer {display: none;}
	
}



@media (max-height: 570px) {

	* {
		font-size: 10px;
	}
	
	.menu {
		max-height: 100%;
		max-width: 75%;
		overflow-y: scroll;
	}
	.menu li {
		font-size: 10px;
		padding: 5px 10px 5px 7px;
		}
	
	ul#tabList li.tabFileItem {
		margin-top: 3px;
		padding-top: 1px;
		line-height: 10px;
	}
	
	ul#tabList ul.folderFileList {
		max-height: 17px;
	}
	
	ul#tabList li.tabFolderItem.single {
		padding-top: 8px;
		
	}
	
	ul#tabList li.tabFileItem {
		font-size: 10px;
		
}
}

@media (max-height: 150px) {
	/* Hide the virtual keyboard so it doesn't get in the way */
	.virtualKeyboard {
		display: none;
	}
}


@media (min-width: 1000px) {
	
	.virtualKeyboard .virtualKeyboardRow {
		height: 35px;
	}
	
	.virtualKeyboard button {
		font-size: 13px;
		border-radius: 3px;
		min-width: 30px;
		min-height: 32px;
	}
	
}

@media (max-width: 600px) {
	
	.virtualKeyboard .virtualKeyboardRow {
		height: 16px;
	}
	
	.virtualKeyboard button {
		font-size: 9px;
		border-radius: 3px;
		min-width: 14px;
		min-height: 15px;
	}
	
	
	.dialog {
		box-shadow: inset 0px 4px 10px #888888;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 4px;
		padding-right: 4px;
		border-radius: 7px;
		border: 8px solid #3a3b44;
		box-shadow: 0px 4px 20px #000000;
		max-width: 408px;
		
	}
	
	.dialog .message {
		min-width: 260px;
		min-height: 32px;
		max-height: 400px;
		font-size: 12px;
		padding: 10px;
	}
	
	.dialog img {
		margin: 10px;
	}
	
	.dialog button {
		font-size: 12px;
	}
	
	.dialog .input {
		margin-bottom: 10px;
		font-size: 12px;
	}
	
}

@media (max-width: 350px) {
	
	.virtualKeyboard .virtualKeyboardRow {
		min-height: 10px;
		height: 0;
	}
	
	.virtualKeyboard button {
		font-size: 6px;
		border-radius: 1px;
		min-width: 8px;
		min-height: 9px;
		margin: 1px;
	}
	
	input[type=button], button.button, input[type=submit] {
		min-width: 80px;
	}
	
}


/* Make mobile browsers NOT zoom */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select,
	textarea,
	input {
		font-size: 16px;
		}
	}
