ul#tabList {
	margin: 0px;
	padding-left: 3px;
}

ul#tabList li.tabFolderItem {
	border-radius: 10px 10px 0px 0px;
	border: 1px solid rgba(200,200,200,0.5);
	border-top: 1px solid #d6d6d6;
	border-bottom: 2px solid #d6d6d6; /* #d6d6d6 */
	
	/*-webkit-transform: perspective(100px) rotateX(30deg); */
	
	font-size: 10px;
	text-align: center;
	line-height: 1px;
	
	margin-top: 3px;
	margin-left: 2px;
	margin-bottom: 0px;
	
	padding-left: 2px;
	padding-top: 4px;
	padding-bottom: 0px;
	
	color: #585565;
	display: inline-block;
	line-height: 6px;
	box-shadow: 0px 1px 2px #dcdae3, inset 0px 1px 1px #ecebf0;
	background: linear-gradient(#f2f2f2, #f6f6f6);
	cursor: default;
}

ul#tabList li.tabFolderItem:before{
	border-color : transparent #ddd transparent transparent;
	-webkit-transform : rotate(48deg);
	left: -23px;
}

ul#tabList li.tabFolderItem.active {
	color: #000000;
	min-width: 120px;
	background-color: #414141;
	background: linear-gradient(#d7dde6, #f6f6f6, #FFFFFF);
	overflow: hidden;
	overflow: visible;
}

/* Folder item with only one file in it */
ul#tabList li.tabFolderItem.single {
	/* Hide the folder text */
	font-size: 0px;
	line-height: 0px;
	
	/* Complement for the lost height */
	padding-top: 4px;
}

ul#tabList ul.folderFileList {
	margin: 0px;
	line-height: 12px;
	overflow: visible;
	vertical-align: bottom;
}

/* ### File Item */
ul#tabList li.tabFileItem {
	display: inline-block;
	
	border-radius: 6px 6px 0px 0px;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid transparent;
	
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 3px;
	margin-bottom: 2px;
	
	padding: 6px;
	padding-bottom: 5px;
	
	font-size: 12px;
	cursor: pointer;
	line-height: 12px;
	background: linear-gradient(#f2f2f2, #ffffff);
	box-shadow: 0px -1px 2px #eeeeee, inset 0px 1px 1px #ecebf0;
}

ul#tabList li.tabFolderItem.single li.tabFileItem {
	border: 0;
	background: rgba(0,0,0,0);
	}

ul#tabList li.tabFileItem.active  {
	box-shadow: 0px -2px 1px #eeeeee, inset 0px 1px 1px #ecebf0;
	z-index: 1;
	border-bottom: 2px solid orange;
	background: none;
}

ul#tabList li.tabFolderItem.single li.tabFileItem.active {
	border: 0;
	background: rgba(0,0,0,0);
	border-bottom: 2px solid orange;
}


/* ### Close tab button */
ul#tabList button.closeFileTab {
	display: none;
	font-size: 12px;
	font-weight: bold;
	vertical-align: text-top;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 40%;
	width: 12px;
	height: 12px;
	background-color: rgba(0,0,0,0);
}

ul#tabList button.closeFileTab:hover {
	color: red;
}

ul#tabList li.tabFileItem.active button.closeFileTab {
	display: inline-block;
}