

html {
}

body {
	font-family: sans-serif;
	max-width: 55em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 2em;
	
}

h1 {
	font-size: 3em;
}

h1 i {
	font-size: 70%;
	margin-left: 1em;
	
}

h2, h3 {
	margin-top: 2em;
}

ul li {
	padding-bottom: 1em;
}

.cmd {
	background-color: black;
	color: white;
	padding: 0.5em;
	margin: 1em;
}

