#
# Responsible for remounting user mount-points after server reboot
#
# cd /srv/jzedit , or to where you placed the files
# sudo cp etc/systemd/jzedit_user_mounts.service /etc/systemd/system/jzedit_user_mounts.service
# sudo systemctl enable jzedit_user_mounts   or   sudo systemctl daemon-reload

[Unit]
Before=jzedit.service

[Service]

# Change to the jzedit directory
WorkingDirectory=/srv/jzedit/

# Run Script once
Type=oneshot
ExecStart=/usr/bin/nodejs etc/user_mount.js

[Install]
WantedBy=jzedit.service
