# cd /srv/jzedit , or to where you placed the files
# sudo cp etc/systemd/jzedit_signup.service /etc/systemd/system/jzedit_signup.service
# sudo systemctl enable jzedit_signup   or   sudo systemctl daemon-reload
#
# Signup url: https://webide.se/signup/signup.html
#

[Unit]
Description=Signup service for JZedit cloud editor
After=network.target

[Service]
User=root

# Change to the jzedit directory
WorkingDirectory=/srv/jzedit/

# Change to node or nodejs if you are not using apparmor.
# See etc/apparmor/usr.bin.jzedit for example apparmor profile (run makeprofile.sh to create one)

# See etc/nginx/signup.webtigerteam.com.nginx for an nginx example profile to run as proxy infront of the signup service

ExecStart=/usr/bin/nodejs signup_service.js --port=8100 --pwfile=/etc/jzedit_users --hostname=webide.se

Restart=always

[Install]
WantedBy=multi-user.target