# cd /srv/jzedit (or where you put the files)
# sudo cp etc/systemd/jzedit.service /etc/systemd/system/jzedit.service
# sudo systemctl enable jzedit   or   sudo systemctl daemon-reload
# sudo systemctl start jzedit

[Unit]
Description=JZedit cloud editor
After=network.target

[Service]
User=root

# Change to the jzedit directory 
WorkingDirectory=/srv/jzedit/

# Change to node or nodejs if you are not using apparmor.
# See etc/apparmor/usr.bin.jzedit for example apparmor profile (run makeprofile.sh to create one)
# You can change the port to port 80 if you have no other http servers running
# See etc/nginx/editor.webtigerteam.com.nginx for an nginx example profile to run as proxy infront of the editor server
# Don't forget to change the hostname and email! If no hostname is given, the IP-address (default 127.0.0.1) will be used.
ExecStart=/usr/bin/nodejs server/server.js --port=8099 --pwfile=/etc/jzedit_users --hostname=webide.se --public_port=80 --admin_email=zeta@zetafiles.org

Restart=always

[Install]
WantedBy=multi-user.target
