#
# cd /srv/webide , or to where you placed the files
# sudo cp etc/systemd/webide_nodejs_init.service /etc/systemd/system/webide_nodejs_init.service
# sudo systemctl enable webide_nodejs_init   or   sudo systemctl daemon-reload
#

[Unit]
Description=Responsible for starting and monitoring nodejs micro services
After=network.target
OnFailure=status-email-user@%n.service

[Service]
User=root

# Change to the webide directory
WorkingDirectory=/srv/webide/

# Change to the path to the nodejs executable
ExecStart=/usr/bin/nodejs nodejs_init.js

ExecStopPost=/usr/local/bin/systemd-email.sh zeta@zetafiles.org %i

Restart=always

[Install]
WantedBy=multi-user.target
