# cd /srv/webide (or where you put the files)
# sudo cp etc/systemd/webide.service /etc/systemd/system/webide.service
# sudo systemctl enable webide   or   sudo systemctl daemon-reload
# sudo systemctl start webide

[Unit]
Description=WebIDE
After=network.target
OnFailure=status-email-user@%n.service

[Service]
User=root

# Change to the webide directory 
WorkingDirectory=/srv/webide/


# You can change the port to port 80 if you have no other http servers running
# See etc/nginx/editor.webtigerteam.com.nginx for an nginx example profile to run as proxy infront of the editor server
# Don't forget to change the hostname and email! If no hostname is given, the IP-address (default 127.0.0.1) will be used.
ExecStart=/usr/local/bin/node server/server.js --port=8099 --hostname=webide.se --public_port=80 --nat-type=server

# SystemD has changed how OnFailure works. OnFailure is only executed if the service fail to start, not if it crash like it used to be
# ExecStopPost will be fired every time the service stops (including both crashes and graceful shutdowns)
ExecStopPost=/usr/local/bin/systemd-email.sh zeta@zetafiles.org %i


Restart=always

[Install]
WantedBy=multi-user.target
