# cd /srv/webide (or where you put the files)
# sudo cp etc/systemd/webide.service /etc/systemd/system/webide.service
# sudo systemctl enable webide   or   sudo systemctl daemon-reload
# sudo systemctl start webide

[Unit]
Description=WebIDE
After=network.target
OnFailure=status-email-user@%n.service

[Service]
User=root

# Change to the webide directory 
WorkingDirectory=/srv/webide/

# Change to node or nodejs if you are not using apparmor.
# See etc/apparmor/usr.bin.webide for example apparmor profile (run makeprofile.sh to create one)
# You can change the port to port 80 if you have no other http servers running
# See etc/nginx/editor.webtigerteam.com.nginx for an nginx example profile to run as proxy infront of the editor server
# Don't forget to change the hostname and email! If no hostname is given, the IP-address (default 127.0.0.1) will be used.
ExecStart=/usr/bin/nodejs server/server.js --port=8099 --hostname=webide.se --public_port=80

Restart=always

[Install]
WantedBy=multi-user.target
