# cd /srv/webide , or to where you placed the files
# sudo cp etc/systemd/webide_signup.service /etc/systemd/system/webide_signup.service
# sudo systemctl enable webide_signup   or   sudo systemctl daemon-reload
#
# Signup url: https://webide.se/signup/signup.html
#

[Unit]
Description=Signup service for JZedit cloud editor
After=network.target
OnFailure=status-email-user@%n.service

[Service]
User=root

# Change to the webide directory
WorkingDirectory=/srv/webide/

# Change to node or nodejs if you are not using apparmor.
# See etc/apparmor/usr.bin.webide for example apparmor profile (run makeprofile.sh to create one)

# See etc/nginx/signup.webtigerteam.com.nginx for an nginx example profile to run as proxy infront of the signup service

ExecStart=/usr/bin/nodejs signup_service.js --hostname=webide.se

Restart=always

[Install]
WantedBy=multi-user.target