#
# Service to run on the DNS master server
# We assume the DNS master runs bind9 and use zone files stored in /etc/bind/zones/db.tld
# And that the zone files are formatted in a certain way (see letsEncryptDns.js)
# 
# It's higly recommended to run Nginx or another HTTPS proxy 
# that will proxy requests to the IP and port specified in letsEncryptDns.js
#
# Example nginx config (inside a server block):
#
#	location = /DNS/txt {
#		proxy_pass http://127.0.0.1:8102;
#		proxy_set_header        Host            $http_host;
#		proxy_set_header        X-Real-IP       $remote_addr;
#		proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
#	}
#
# Install/Update
# --------------
# 1. Copy this file and letsEncryptDns.js to the dns server and cd into the folder:
# scp letsEncryptDns.service letsEncryptDns.js root@dnsserver:/etc/systemd/system/
#
# 2. SSH into the dns server and Enable the letsEncryptDns.service:
# sudo systemctl enable letsEncryptDns   (or if you updated letsEncryptDns.service) sudo systemctl daemon-reload
# sudo service letsEncryptDns start      (or if you updated letsEncryptDns.js) sudo service letsEncryptDns restart
#
# See logs: sudo journalctl -u letsEncryptDns
#

[Unit]
Description=Letsencypt DNS auth
After=network.target
OnFailure=status-email-user@%n.service

[Service]
User=root

# Change to where letsEncryptDns.js is located
WorkingDirectory=/tank/nodejs/letsEncryptDns/

ExecStart=/usr/bin/nodejs letsEncryptDns.js

Restart=always

[Install]
WantedBy=multi-user.target
