
div.menu {
	background-color: #414141;
	background: linear-gradient(#414141, #5b5b5b); /* Standard syntax */
	border-bottom: 7px solid #c27138;
}

div.menu ul {
	margin: 0px;
	padding: 0px;
}

div.menu li {
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 0px;
	margin-top: 0.7em;
	min-width: 5em;
	border-radius: 6px 6px 0em 0em;
	background-color: #d1d4d9;
	padding: 0.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

div.menu li:hover {
	background-color: #e4e4e4;
}

div.menu li:active {
	background-color: #ffffff;
}

div.menu a {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #2a2c36;
	text-shadow: 2px 2px 1px #dfdfe2;
	font-family: Play, Inder, Times;
	text-decoration: none;
}


div.columns {
	max-width: 1000px;
	margin: auto;
}

div.left {
	float: left;
	width: 450px;
	border-right: 1px solid #c0c0c0;
	margin: 25px;
	margin-right: 20px;
} 

div.right {
	float: left; 
	width: 450px;
	margin: 25px;
}

@media screen and (max-width: 1000px) {
	
	div.left {
		float: none;
		width: auto;
		border-right: 1px solid #c0c0c0;
		margin: 1em;
		border: none;
	} 

	div.right {
		float: none; 
		width: auto;
		margin: 1em;
	}

}




